@import "~normalize.css";
@import "font.css";

body{
    font-family: 'Roboto', sans-serif;
}
.container {
    padding-top: 2rem;
    margin: 0 auto;
    max-width: 1000px;
}

h1 {
    text-align: center;
}

.logo{
    background-image: url('../assets/webpack-logo.png');
    width: 200px;
    height: 200px;
    margin: 0 auto;
    background-size: cover;
}

.code{
    color: crimson;
}